{% extends 'main/base.html' %}

{% block content %}
<div class="uk-container">


<div class="uk-text-lead">About</div>

<p>This is a website developed for the teachers to upload their notes, and the students to download all the notes available, in a single place. <br>
You can search for the notes by their name, author, or label. <br><br>
The user account page has the history of all the notes You have downlaoded. <br>
If you have a moderator account, You can also upload notes, alter them, or delete them. <br>
All the notes uploaded by you are available in your user accounts page. <br><br>

A moderator account is an account with special previliges to upload, edit or delete notes on this site. <br>
If you are willing to be a volunteer who will upload the notes regularly, feel free to apply for a moderator account <a href="">here.</a> <br><br>

This whole project is developed and maintained by Karthik HK. <br>
This is my <a href="https://github.com/Karthikb777/">github account.</a> <br>
Contact me <a href="mailto:karthik.barati.777@gmail.com">here.</a>
</p>


<div class="uk-text-lead">Disclaimer</div>
<p>I'm not responsible if you get the wrong notes, and fail in the exam, ask your teacher about it. <br>
but, if you do encounter some odd thing or a bug in the site, report it to me immediately <a href="mailto:notesserver001@gmail.com?subject=Bug report&body=Bug encountered:%0D%0A%0D%0ASteps to reproduce the bug:%0D%0A%0D%0A">here.</a>

</p>
</div>

{% endblock content %}


